.v-app-bar--fade-img-on-scroll .v-toolbar__image .v-image__image {
  transition: 0.4s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll .v-toolbar__content {
  will-change: height;
}
.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll .v-toolbar__image {
  will-change: opacity;
}
.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll.v-app-bar--collapse-on-scroll .v-toolbar__extension {
  display: none;
}
.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll.v-app-bar--is-scrolled .v-toolbar__title {
  padding-top: 9px;
}
.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll.v-app-bar--is-scrolled:not(.v-app-bar--bottom) .v-toolbar__title {
  padding-bottom: 9px;
}

.v-app-bar.v-app-bar--shrink-on-scroll .v-toolbar__title {
  font-size: inherit;
}
.theme--light.v-toolbar.v-sheet {
  background-color: #FFFFFF;
}

.theme--dark.v-toolbar.v-sheet {
  background-color: #272727;
}

.v-sheet.v-toolbar {
  border-radius: 0;
}
.v-sheet.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.v-sheet.v-toolbar.v-sheet--shaped {
  border-radius: 24px 0;
}

.v-toolbar {
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) transform, 0.2s cubic-bezier(0.4, 0, 0.2, 1) background-color, 0.2s cubic-bezier(0.4, 0, 0.2, 1) left, 0.2s cubic-bezier(0.4, 0, 0.2, 1) right, 280ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow, 0.25s cubic-bezier(0.4, 0, 0.2, 1) max-width, 0.25s cubic-bezier(0.4, 0, 0.2, 1) width;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.v-toolbar .v-input {
  padding-top: 0;
  margin-top: 0;
}

.v-toolbar__content,
.v-toolbar__extension {
  padding: 4px 16px;
}
.v-toolbar__content .v-btn.v-btn--icon.v-size--default,
.v-toolbar__extension .v-btn.v-btn--icon.v-size--default {
  height: 48px;
  width: 48px;
}
.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child,
.v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:first-child {
  margin-left: -12px;
}
.v-application--is-rtl .v-toolbar__content > .v-btn.v-btn--icon:first-child,
.v-application--is-rtl .v-toolbar__extension > .v-btn.v-btn--icon:first-child {
  margin-right: -12px;
}
.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child + .v-toolbar__title,
.v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:first-child + .v-toolbar__title {
  padding-left: 20px;
}
.v-application--is-rtl .v-toolbar__content > .v-btn.v-btn--icon:first-child + .v-toolbar__title,
.v-application--is-rtl .v-toolbar__extension > .v-btn.v-btn--icon:first-child + .v-toolbar__title {
  padding-right: 20px;
}
.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:last-child,
.v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:last-child {
  margin-right: -12px;
}
.v-application--is-rtl .v-toolbar__content > .v-btn.v-btn--icon:last-child,
.v-application--is-rtl .v-toolbar__extension > .v-btn.v-btn--icon:last-child {
  margin-left: -12px;
}
.v-toolbar__content > .v-tabs,
.v-toolbar__extension > .v-tabs {
  height: inherit;
  margin-top: -4px;
  margin-bottom: -4px;
}
.v-toolbar__content > .v-tabs > .v-slide-group.v-tabs-bar,
.v-toolbar__extension > .v-tabs > .v-slide-group.v-tabs-bar {
  background-color: inherit;
  height: inherit;
}
.v-toolbar__content > .v-tabs:first-child,
.v-toolbar__extension > .v-tabs:first-child {
  margin-left: -16px;
}
.v-toolbar__content > .v-tabs:last-child,
.v-toolbar__extension > .v-tabs:last-child {
  margin-right: -16px;
}

.v-toolbar__content,
.v-toolbar__extension {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 0;
}

.v-toolbar__image {
  border-radius: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  contain: strict;
}
.v-toolbar__image .v-image {
  border-radius: inherit;
}

.v-toolbar__items {
  display: flex;
  height: inherit;
}
.v-toolbar__items > .v-btn {
  border-radius: 0;
  height: 100% !important;
  max-height: none;
}

.v-toolbar__title {
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-toolbar.v-toolbar--absolute {
  position: absolute;
  top: 0;
  z-index: 1;
}

.v-toolbar.v-toolbar--bottom {
  top: initial;
  bottom: 0;
}

.v-toolbar.v-toolbar--collapse .v-toolbar__title {
  white-space: nowrap;
}

.v-toolbar.v-toolbar--collapsed {
  max-width: 112px;
  overflow: hidden;
}
.v-application--is-ltr .v-toolbar.v-toolbar--collapsed {
  border-bottom-right-radius: 24px;
}
.v-application--is-rtl .v-toolbar.v-toolbar--collapsed {
  border-bottom-left-radius: 24px;
}
.v-toolbar.v-toolbar--collapsed .v-toolbar__title,
.v-toolbar.v-toolbar--collapsed .v-toolbar__extension {
  display: none;
}

.v-toolbar--dense .v-toolbar__content,
.v-toolbar--dense .v-toolbar__extension {
  padding-top: 0;
  padding-bottom: 0;
}

.v-toolbar--flat {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}

.v-toolbar--floating {
  display: inline-flex;
}

.v-toolbar--prominent .v-toolbar__content {
  align-items: flex-start;
}
.v-toolbar--prominent .v-toolbar__title {
  font-size: 1.5rem;
  padding-top: 6px;
}
.v-toolbar--prominent:not(.v-toolbar--bottom) .v-toolbar__title {
  align-self: flex-end;
  padding-bottom: 6px;
  padding-top: 0;
}
.theme--light.v-sheet {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
}
.theme--light.v-sheet--outlined {
  border: thin solid rgba(0, 0, 0, 0.12);
}

.theme--dark.v-sheet {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
  color: #FFFFFF;
}
.theme--dark.v-sheet--outlined {
  border: thin solid rgba(255, 255, 255, 0.12);
}

.v-sheet {
  border-radius: 0;
}
.v-sheet:not(.v-sheet--outlined) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.v-sheet.v-sheet--shaped {
  border-radius: 24px 0;
}
@charset "UTF-8";
@-webkit-keyframes v-shake {
  59% {
    margin-left: 0;
  }
  60%, 80% {
    margin-left: 2px;
  }
  70%, 90% {
    margin-left: -2px;
  }
}
@keyframes v-shake {
  59% {
    margin-left: 0;
  }
  60%, 80% {
    margin-left: 2px;
  }
  70%, 90% {
    margin-left: -2px;
  }
}

/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}


.expand-transition-enter-active, .expand-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.expand-transition-move {
  transition: transform 0.6s;
}

.expand-x-transition-enter-active, .expand-x-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.expand-x-transition-move {
  transition: transform 0.6s;
}

.scale-transition-enter-active, .scale-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scale-transition-move {
  transition: transform 0.6s;
}
.scale-transition-enter, .scale-transition-leave, .scale-transition-leave-to {
  opacity: 0;
  transform: scale(0);
}

.scale-rotate-transition-enter-active, .scale-rotate-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scale-rotate-transition-move {
  transition: transform 0.6s;
}
.scale-rotate-transition-enter, .scale-rotate-transition-leave, .scale-rotate-transition-leave-to {
  opacity: 0;
  transform: scale(0) rotate(-45deg);
}

.scale-rotate-reverse-transition-enter-active, .scale-rotate-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scale-rotate-reverse-transition-move {
  transition: transform 0.6s;
}
.scale-rotate-reverse-transition-enter, .scale-rotate-reverse-transition-leave, .scale-rotate-reverse-transition-leave-to {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}

.slide-y-transition-enter-active, .slide-y-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.slide-y-transition-move {
  transition: transform 0.6s;
}
.slide-y-transition-enter, .slide-y-transition-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}

.slide-y-reverse-transition-enter-active, .slide-y-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.slide-y-reverse-transition-move {
  transition: transform 0.6s;
}
.slide-y-reverse-transition-enter, .slide-y-reverse-transition-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

html {
  font-size: 16px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.overflow-y-hidden {
  overflow-y: hidden !important;
}

.theme--light.v-image {
  color: rgba(0, 0, 0, 0.87);
}

.theme--dark.v-image {
  color: #FFFFFF;
}

.v-image {
  z-index: 0;
}

.v-image__image,
.v-image__placeholder {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-image__image {
  background-repeat: no-repeat;
}
.v-image__image--preload {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.v-image__image--contain {
  background-size: contain;
}
.v-image__image--cover {
  background-size: cover;
}
.v-responsive {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  max-width: 100%;
  display: flex;
}
.v-responsive__content {
  flex: 1 0 0px;
  max-width: 100%;
}
.v-application--is-ltr .v-responsive__sizer ~ .v-responsive__content {
  margin-left: -100%;
}
.v-application--is-rtl .v-responsive__sizer ~ .v-responsive__content {
  margin-right: -100%;
}
.v-responsive__sizer {
  transition: padding-bottom 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
  flex: 1 0 0px;
}
.v-ripple__container {
  color: inherit;
  border-radius: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  contain: strict;
}
.v-ripple__animation {
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: currentColor;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  will-change: transform, opacity;
}
.v-ripple__animation--enter {
  transition: none;
}
.v-ripple__animation--in {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.v-ripple__animation--out {
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme--light.v-icon {
  color: rgba(0, 0, 0, 0.54);
}
.theme--light.v-icon:focus::after {
  opacity: 0.12;
}
.theme--light.v-icon.v-icon.v-icon--disabled {
  color: rgba(0, 0, 0, 0.38) !important;
}

.theme--dark.v-icon {
  color: #FFFFFF;
}
.theme--dark.v-icon:focus::after {
  opacity: 0.24;
}
.theme--dark.v-icon.v-icon.v-icon--disabled {
  color: rgba(255, 255, 255, 0.5) !important;
}

.v-icon.v-icon {
  align-items: center;
  display: inline-flex;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.v-icon.v-icon::after {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(1.3);
  width: 100%;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}
.v-icon.v-icon--dense {
  font-size: 20px;
}

.v-icon--right {
  margin-left: 8px;
}
.v-icon--left {
  margin-right: 8px;
}
.v-icon.v-icon.v-icon--link {
  cursor: pointer;
  outline: none;
}
.v-icon--disabled {
  pointer-events: none;
}
.v-icon--is-component {
  height: 24px;
  width: 24px;
}
.v-icon--svg {
  height: 24px;
  width: 24px;
  fill: currentColor;
}
.v-icon--dense--is-component {
  height: 20px;
}
.v-btn:not(.v-btn--outlined).primary, .v-btn:not(.v-btn--outlined).secondary, .v-btn:not(.v-btn--outlined).accent, .v-btn:not(.v-btn--outlined).success, .v-btn:not(.v-btn--outlined).error, .v-btn:not(.v-btn--outlined).warning, .v-btn:not(.v-btn--outlined).info {
  color: #FFFFFF;
}

.theme--light.v-btn {
  color: rgba(0, 0, 0, 0.87);
}
.theme--light.v-btn.v-btn--disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}
.theme--light.v-btn.v-btn--disabled .v-icon,
.theme--light.v-btn.v-btn--disabled .v-btn__loading {
  color: rgba(0, 0, 0, 0.26) !important;
}
.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: #f5f5f5;
}
.theme--light.v-btn.v-btn--outlined.v-btn--text {
  border-color: rgba(0, 0, 0, 0.12);
}
.theme--light.v-btn.v-btn--icon {
  color: rgba(0, 0, 0, 0.54);
}
.theme--light.v-btn:hover::before {
  opacity: 0.04;
}
.theme--light.v-btn:focus::before {
  opacity: 0.12;
}
.theme--light.v-btn--active:hover::before, .theme--light.v-btn--active::before {
  opacity: 0.12;
}
.theme--light.v-btn--active:focus::before {
  opacity: 0.16;
}

.theme--dark.v-btn {
  color: #FFFFFF;
}
.theme--dark.v-btn.v-btn--disabled {
  color: rgba(255, 255, 255, 0.3) !important;
}
.theme--dark.v-btn.v-btn--disabled .v-icon,
.theme--dark.v-btn.v-btn--disabled .v-btn__loading {
  color: rgba(255, 255, 255, 0.3) !important;
}
.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: rgba(255, 255, 255, 0.12) !important;
}
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: #272727;
}
.theme--dark.v-btn.v-btn--outlined.v-btn--text {
  border-color: rgba(255, 255, 255, 0.12);
}
.theme--dark.v-btn.v-btn--icon {
  color: #FFFFFF;
}
.theme--dark.v-btn:hover::before {
  opacity: 0.08;
}
.theme--dark.v-btn:focus::before {
  opacity: 0.24;
}
.theme--dark.v-btn--active:hover::before, .theme--dark.v-btn--active::before {
  opacity: 0.24;
}
.theme--dark.v-btn--active:focus::before {
  opacity: 0.32;
}

.v-btn {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  justify-content: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: 0.0892857143em;
  text-transform: uppercase;
  transition-duration: 0.28s;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.v-btn.v-size--x-small {
  font-size: 0.625rem;
}
.v-btn.v-size--small {
  font-size: 0.75rem;
}
.v-btn.v-size--default {
  font-size: 0.875rem;
}
.v-btn.v-size--large {
  font-size: 0.875rem;
}
.v-btn.v-size--x-large {
  font-size: 1rem;
}
.v-btn:before {
  border-radius: inherit;
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}
.v-btn:before {
  background-color: currentColor;
}
.v-btn:not(.v-btn--disabled) {
  will-change: box-shadow;
}
.v-btn:not(.v-btn--round).v-size--x-small {
  height: 20px;
  min-width: 36px;
  padding: 0 8.8888888889px;
}
.v-btn:not(.v-btn--round).v-size--small {
  height: 28px;
  min-width: 50px;
  padding: 0 12.4444444444px;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
}
.v-btn:not(.v-btn--round).v-size--large {
  height: 44px;
  min-width: 78px;
  padding: 0 19.5555555556px;
}
.v-btn:not(.v-btn--round).v-size--x-large {
  height: 52px;
  min-width: 92px;
  padding: 0 23.1111111111px;
}
.v-btn > .v-btn__content .v-icon {
  color: inherit;
}

.v-btn__content {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
}
.v-btn__content .v-icon--left,
.v-btn__content .v-icon--right {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
.v-application--is-ltr .v-btn__content .v-icon--left {
  margin-left: -4px;
  margin-right: 8px;
}
.v-application--is-rtl .v-btn__content .v-icon--left {
  margin-left: 8px;
  margin-right: -4px;
}
.v-application--is-ltr .v-btn__content .v-icon--right {
  margin-left: 8px;
  margin-right: -4px;
}
.v-application--is-rtl .v-btn__content .v-icon--right {
  margin-left: -4px;
  margin-right: 8px;
}

.v-btn__loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
  opacity: 0.18;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
  opacity: 0.08;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined):focus:before {
  opacity: 0.24;
}

.v-btn--absolute,
.v-btn--fixed {
  position: absolute;
}
.v-btn--absolute.v-btn--right,
.v-btn--fixed.v-btn--right {
  right: 16px;
}
.v-btn--absolute.v-btn--left,
.v-btn--fixed.v-btn--left {
  left: 16px;
}
.v-btn--absolute.v-btn--top,
.v-btn--fixed.v-btn--top {
  top: 16px;
}
.v-btn--absolute.v-btn--bottom,
.v-btn--fixed.v-btn--bottom {
  bottom: 16px;
}

.v-btn--block {
  display: flex;
  flex: 1 0 auto;
  min-width: 100% !important;
  max-width: auto;
}

.v-btn--contained {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.v-btn--contained:after {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.v-btn--contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.v-btn--depressed {
  box-shadow: none !important;
}

.v-btn--disabled {
  box-shadow: none;
  pointer-events: none;
}

.v-btn--icon,
.v-btn--fab {
  min-height: 0;
  min-width: 0;
  padding: 0;
}
.v-btn--icon.v-size--x-small .v-icon,
.v-btn--fab.v-size--x-small .v-icon {
  height: 18px;
  font-size: 18px;
  width: 18px;
}
.v-btn--icon.v-size--small .v-icon,
.v-btn--fab.v-size--small .v-icon {
  height: 24px;
  font-size: 24px;
  width: 24px;
}
.v-btn--icon.v-size--default .v-icon,
.v-btn--fab.v-size--default .v-icon {
  height: 24px;
  font-size: 24px;
  width: 24px;
}
.v-btn--icon.v-size--large .v-icon,
.v-btn--fab.v-size--large .v-icon {
  height: 28px;
  font-size: 28px;
  width: 28px;
}
.v-btn--icon.v-size--x-large .v-icon,
.v-btn--fab.v-size--x-large .v-icon {
  height: 32px;
  font-size: 32px;
  width: 32px;
}

.v-btn--icon.v-size--x-small {
  height: 20px;
  width: 20px;
}
.v-btn--icon.v-size--small {
  height: 28px;
  width: 28px;
}
.v-btn--icon.v-size--default {
  height: 36px;
  width: 36px;
}
.v-btn--icon.v-size--large {
  height: 44px;
  width: 44px;
}
.v-btn--icon.v-size--x-large {
  height: 52px;
  width: 52px;
}

.v-btn--fab.v-btn--contained {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.v-btn--fab.v-btn--contained:after {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.v-btn--fab.v-btn--contained:active {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.v-btn--fab.v-btn--fixed, .v-btn--fab.v-btn--absolute {
  z-index: 4;
}
.v-btn--fab.v-size--x-small {
  height: 32px;
  width: 32px;
}
.v-btn--fab.v-size--x-small.v-btn--absolute.v-btn--bottom {
  bottom: -16px;
}
.v-btn--fab.v-size--x-small.v-btn--absolute.v-btn--top {
  top: -16px;
}
.v-btn--fab.v-size--small {
  height: 40px;
  width: 40px;
}
.v-btn--fab.v-size--small.v-btn--absolute.v-btn--bottom {
  bottom: -20px;
}
.v-btn--fab.v-size--small.v-btn--absolute.v-btn--top {
  top: -20px;
}
.v-btn--fab.v-size--default {
  height: 56px;
  width: 56px;
}
.v-btn--fab.v-size--default.v-btn--absolute.v-btn--bottom {
  bottom: -28px;
}
.v-btn--fab.v-size--default.v-btn--absolute.v-btn--top {
  top: -28px;
}
.v-btn--fab.v-size--large {
  height: 64px;
  width: 64px;
}
.v-btn--fab.v-size--large.v-btn--absolute.v-btn--bottom {
  bottom: -32px;
}
.v-btn--fab.v-size--large.v-btn--absolute.v-btn--top {
  top: -32px;
}
.v-btn--fab.v-size--x-large {
  height: 72px;
  width: 72px;
}
.v-btn--fab.v-size--x-large.v-btn--absolute.v-btn--bottom {
  bottom: -36px;
}
.v-btn--fab.v-size--x-large.v-btn--absolute.v-btn--top {
  top: -36px;
}

.v-btn--fixed {
  position: fixed;
}

.v-btn--loading {
  pointer-events: none;
  transition: none;
}
.v-btn--loading .v-btn__content {
  opacity: 0;
}

.v-btn--outlined {
  border: thin solid currentColor;
}

.v-btn--outlined .v-btn__content .v-icon,
.v-btn--round .v-btn__content .v-icon {
  color: currentColor;
}

.v-btn--outlined,
.v-btn--flat,
.v-btn--text {
  background-color: transparent;
}

.v-btn--outlined:before,
.v-btn--round:before,
.v-btn--rounded:before {
  border-radius: inherit;
}

.v-btn--round {
  border-radius: 50%;
}

.v-btn--rounded {
  border-radius: 28px;
}

.v-btn--tile {
  border-radius: 0;
}
.v-progress-circular {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.v-progress-circular svg {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.v-progress-circular--indeterminate svg {
  -webkit-animation: progress-circular-rotate 1.4s linear infinite;
          animation: progress-circular-rotate 1.4s linear infinite;
  transform-origin: center center;
  transition: all 0.2s ease-in-out;
}
.v-progress-circular--indeterminate .v-progress-circular__overlay {
  -webkit-animation: progress-circular-dash 1.4s ease-in-out infinite;
          animation: progress-circular-dash 1.4s ease-in-out infinite;
  stroke-linecap: round;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0px;
}
.v-progress-circular__info {
  align-items: center;
  display: flex;
  justify-content: center;
}
.v-progress-circular__underlay {
  stroke: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.v-progress-circular__overlay {
  stroke: currentColor;
  z-index: 2;
  transition: all 0.6s ease-in-out;
}

@-webkit-keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125px;
  }
}

@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125px;
  }
}
@-webkit-keyframes progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.theme--light.v-alert .v-alert--prominent .v-alert__icon:after {
  background: rgba(0, 0, 0, 0.12);
}

.theme--dark.v-alert .v-alert--prominent .v-alert__icon:after {
  background: rgba(255, 255, 255, 0.12);
}

.v-sheet.v-alert {
  border-radius: 4px;
}
.v-sheet.v-alert:not(.v-sheet--outlined) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.v-sheet.v-alert.v-sheet--shaped {
  border-radius: 24px 4px;
}

.v-sheet.v-list {
  border-radius: 0;
}
.v-sheet.v-list:not(.v-sheet--outlined) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.v-sheet.v-list.v-sheet--shaped {
  border-radius: 0;
}

/* Theme */
.theme--light.v-messages {
  color: rgba(0, 0, 0, 0.6);
}

.theme--dark.v-messages {
  color: rgba(255, 255, 255, 0.7);
}

.v-messages {
  flex: 1 1 auto;
  font-size: 12px;
  min-height: 14px;
  min-width: 1px;
  position: relative;
}
.v-application--is-ltr .v-messages {
  text-align: left;
}
.v-application--is-rtl .v-messages {
  text-align: right;
}
.v-messages__message {
  line-height: 12px;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
@-webkit-keyframes indeterminate-ltr {
  0% {
    left: -90%;
    right: 100%;
  }
  60% {
    left: -90%;
    right: 100%;
  }
  100% {
    left: 100%;
    right: -35%;
  }
}

@keyframes indeterminate-ltr {
  0% {
    left: -90%;
    right: 100%;
  }
  60% {
    left: -90%;
    right: 100%;
  }
  100% {
    left: 100%;
    right: -35%;
  }
}
@-webkit-keyframes indeterminate-rtl {
  0% {
    left: 100%;
    right: -90%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: -35%;
    right: 100%;
  }
}
@keyframes indeterminate-rtl {
  0% {
    left: 100%;
    right: -90%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: -35%;
    right: 100%;
  }
}
@-webkit-keyframes indeterminate-short-ltr {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short-ltr {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@-webkit-keyframes indeterminate-short-rtl {
  0% {
    left: 100%;
    right: -200%;
  }
  60% {
    left: -8%;
    right: 107%;
  }
  100% {
    left: -8%;
    right: 107%;
  }
}
@keyframes indeterminate-short-rtl {
  0% {
    left: 100%;
    right: -200%;
  }
  60% {
    left: -8%;
    right: 107%;
  }
  100% {
    left: -8%;
    right: 107%;
  }
}
@-webkit-keyframes query-ltr {
  0% {
    right: -90%;
    left: 100%;
  }
  60% {
    right: -90%;
    left: 100%;
  }
  100% {
    right: 100%;
    left: -35%;
  }
}
@keyframes query-ltr {
  0% {
    right: -90%;
    left: 100%;
  }
  60% {
    right: -90%;
    left: 100%;
  }
  100% {
    right: 100%;
    left: -35%;
  }
}
@-webkit-keyframes query-rtl {
  0% {
    right: 100%;
    left: -90%;
  }
  60% {
    right: 100%;
    left: -90%;
  }
  100% {
    right: -35%;
    left: 100%;
  }
}
@keyframes query-rtl {
  0% {
    right: 100%;
    left: -90%;
  }
  60% {
    right: 100%;
    left: -90%;
  }
  100% {
    right: -35%;
    left: 100%;
  }
}
@-webkit-keyframes query-short-ltr {
  0% {
    right: -200%;
    left: 100%;
  }
  60% {
    right: 107%;
    left: -8%;
  }
  100% {
    right: 107%;
    left: -8%;
  }
}
@keyframes query-short-ltr {
  0% {
    right: -200%;
    left: 100%;
  }
  60% {
    right: 107%;
    left: -8%;
  }
  100% {
    right: 107%;
    left: -8%;
  }
}
@-webkit-keyframes query-short-rtl {
  0% {
    right: 100%;
    left: -200%;
  }
  60% {
    right: -8%;
    left: 107%;
  }
  100% {
    right: -8%;
    left: 107%;
  }
}
@keyframes query-short-rtl {
  0% {
    right: 100%;
    left: -200%;
  }
  60% {
    right: -8%;
    left: 107%;
  }
  100% {
    right: -8%;
    left: 107%;
  }
}
@-webkit-keyframes stream-ltr {
  to {
    transform: translateX(-8px);
  }
}
@keyframes stream-ltr {
  to {
    transform: translateX(-8px);
  }
}
@-webkit-keyframes stream-rtl {
  to {
    transform: translateX(8px);
  }
}
@keyframes stream-rtl {
  to {
    transform: translateX(8px);
  }
}
.theme--light.v-bottom-navigation .v-btn:not(.v-btn--active) {
  color: rgba(0, 0, 0, 0.6) !important;
}

.theme--dark.v-bottom-navigation {
  background-color: #2E2E2E;
  color: #FFFFFF;
}
.theme--dark.v-bottom-navigation .v-btn:not(.v-btn--active) {
  color: rgba(255, 255, 255, 0.7) !important;
}

.v-item-group.v-bottom-navigation {
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.v-item-group.v-bottom-navigation .v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: transparent;
}
.v-item-group.v-bottom-navigation .v-btn {
  border-radius: 0;
  box-shadow: none;
  flex: 0 1 auto;
  font-size: 0.75rem;
  height: inherit;
  max-width: 168px;
  min-width: 80px;
  position: relative;
  text-transform: none;
}
.v-item-group.v-bottom-navigation .v-btn:after {
  content: none;
}
.v-item-group.v-bottom-navigation .v-btn .v-btn__content {
  flex-direction: column-reverse;
  height: inherit;
}
.v-item-group.v-bottom-navigation .v-btn .v-btn__content > *:not(.v-icon) {
  line-height: 1.2;
}
.v-item-group.v-bottom-navigation .v-btn.v-btn--active {
  color: inherit;
}
.v-item-group.v-bottom-navigation .v-btn.v-btn--active:not(:hover):before {
  opacity: 0;
}

.v-item-group.v-bottom-navigation--absolute,
.v-item-group.v-bottom-navigation--fixed {
  z-index: 4;
}

.v-item-group.v-bottom-navigation--absolute {
  position: absolute;
}

.v-item-group.v-bottom-navigation--active {
  transform: translate(0, 0);
}

.v-item-group.v-bottom-navigation--fixed {
  position: fixed;
}

.v-item-group.v-bottom-navigation--grow .v-btn {
  width: 100%;
}

.v-item-group.v-bottom-navigation--horizontal .v-btn > .v-btn__content {
  flex-direction: row-reverse;
}
.v-item-group.v-bottom-navigation--horizontal .v-btn > .v-btn__content > .v-icon {
  margin-bottom: 0;
  margin-right: 16px;
}

.v-item-group.v-bottom-navigation--shift .v-btn .v-btn__content > *:not(.v-icon) {
  opacity: 0;
  position: absolute;
  top: calc(100% - 12px);
  transform: scale(0.9);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.v-item-group.v-bottom-navigation--shift .v-btn--active .v-btn__content > .v-icon {
  transform: translateY(-8px);
}
.v-item-group.v-bottom-navigation--shift .v-btn--active .v-btn__content > *:not(.v-icon) {
  opacity: 1;
  top: calc(100% - 22px);
  transform: scale(1);
}
.bottom-sheet-transition-enter {
  transform: translateY(100%);
}
.bottom-sheet-transition-leave-to {
  transform: translateY(100%);
}

.v-bottom-sheet.v-dialog {
  align-self: flex-end;
  border-radius: 0;
  flex: 0 1 auto;
  margin: 0;
  overflow: visible;
}
.v-bottom-sheet.v-dialog.v-bottom-sheet--inset {
  max-width: 70%;
}
@media only screen and (max-width: 599px) {
  .v-bottom-sheet.v-dialog.v-bottom-sheet--inset {
    max-width: none;
  }
}


.theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
}
.theme--light.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
  border-color: rgba(0, 0, 0, 0.12) !important;
}
.theme--light.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn:focus:not(:active) {
  border-color: rgba(0, 0, 0, 0.26);
}
.theme--light.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn .v-icon {
  color: #000000;
}

.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
  background: #1E1E1E;
  color: #FFFFFF;
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
  border-color: rgba(255, 255, 255, 0.12) !important;
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn:focus:not(:active) {
  border-color: rgba(255, 255, 255, 0.3);
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn .v-icon {
  color: #FFFFFF;
}

.v-btn-toggle {
  border-radius: 4px;
  display: inline-flex;
  max-width: 100%;
}
.v-btn-toggle > .v-btn.v-btn {
  border-radius: 0;
  border-style: solid;
  border-width: thin;
  box-shadow: none;
  box-shadow: none;
  opacity: 0.8;
  padding: 0 12px;
}
.v-btn-toggle > .v-btn.v-btn:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.v-btn-toggle > .v-btn.v-btn:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.v-btn-toggle > .v-btn.v-btn--active {
  color: inherit;
  opacity: 1;
}
.v-btn-toggle > .v-btn.v-btn:after {
  display: none;
}
.v-btn-toggle > .v-btn.v-btn:not(:first-child) {
  border-left-width: 0;
}
.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
  height: 48px;
  min-height: 0;
  min-width: 48px;
}

.v-btn-toggle--borderless > .v-btn.v-btn {
  border-width: 0;
}

.v-btn-toggle--dense > .v-btn.v-btn {
  padding: 0 8px;
}

.v-btn-toggle--group {
  border-radius: 0;
}
.v-btn-toggle--group > .v-btn.v-btn {
  background-color: transparent !important;
  border-color: transparent;
  margin: 4px;
  min-width: auto;
}

.v-btn-toggle--rounded {
  border-radius: 24px;
}

.v-btn-toggle--shaped {
  border-radius: 24px 4px;
}

.v-btn-toggle--tile {
  border-radius: 0;
}

.spacer {
  flex-grow: 1 !important;
}

.grow {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
}

.shrink {
  flex-grow: 0 !important;
  flex-shrink: 1 !important;
}

.fill-height {
  height: 100%;
}
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}
@media (min-width: 1904px) {
  .container {
    max-width: 1785px;
  }
}
.container--fluid {
  max-width: 100%;
}

.v-tooltip {
  display: none;
}
.v-tooltip--attached {
  display: inline;
}
.v-tooltip__content {
  background: rgba(97, 97, 97, 0.9);
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
  padding: 5px 16px;
  position: absolute;
  text-transform: initial;
  width: auto;
  opacity: 1;
  pointer-events: none;
}
.v-tooltip__content--fixed {
  position: fixed;
}
.v-tooltip__content[class*=-active] {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.v-tooltip__content[class*=enter-active] {
  transition-duration: 150ms;
}
.v-tooltip__content[class*=leave-active] {
  transition-duration: 75ms;
}